img{
    border: solid;
}
#box{
    background-color: blue;
    height: fit-content;
    width: fit-content;
}
.heading{
    color: red;
}
#div2{
    width: fit-content;
    border: solid black;
}
button{
    background-color: green;
}