h1{
    text-align: center;
    text-transform: uppercase;
}
#OUTPUT{
    font-size: 30px;
}
*{
    font-family: 'Times New Roman', Times, serif;
}
#outer{
    font-size: 25PX;
    border: solid;
    background-color: yellow;
}
#inner{
    font-size: 10PX;
    border: solid;
    background-color: blue;
    color: white;
}
