div{
    border: solid;
    width: fit-content;
    background-color: bisque;
}
h1{
    text-align: center;
    color: orangered;
}
table{
    background-color: goldenrod;
    border: solid;
}
input{
    background-color: chartreuse;
}
tr{
    text-align: left;
}
#A2{
    background-color: rgb(200, 150, 100);
}
#JEE{
    background-color:cyan ;
}