.result{
    width: 100px;
    height:40px;
    background-color:orange;
    border-radius: 15%;
    border: 2px solid black;
    padding-left: 13px;
    padding-top: 10px;
}
body{
    padding-left: 300px;
    padding-top: 300px;
}
.outer{
    border: 2px solid black;
    height: 130px;
    width:200px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}