*{
    color: white;
}
.header{
    margin-left: 120px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    height: 50px;
    width: 503px;
    color: white;
    font-size: 1.7rem;
    font-weight: bolder;
    border: 2px solid white;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid black;
    height: 670px;
    width: 500px;
    margin-left: 120px;
    background-color: grey;
    border: 2px solid white;

}
pre{
    font-size: 1.08rem;
}
h1{
    font-size: 1. rem;
}
.maintext{
    font-size: 60px ;
}
.guessslot{
    height: 40px;
    width: 390px;
    margin-bottom: 35px;
    color: black;
    font-size: 1.2rem;
}
.submitbutton{
    background-color: black;
    height: 40px;
    width: 150px;
    border-radius: 15%;
    font-size: 1.25rem;
}
