p{
    color: white;
    font-size: 1.25rem;
    font-weight: bolder;
    margin-top: 400px;
    margin-left: 400px;
    border: 2px solid ;
    width: 170px;
}
body{
    background-color: black;
}
*{
    color: white;
}
.result{
    margin-left: 400px;
    position: relative;
    top: 20px;
    border: 2px solid;
    width: 200px;
}
td{
    text-align: center;
}